# Java / Maven
target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Environment files
.env
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Docker
.docker/

# OS
.DS_Store

# Logs
*.log

# Local/private deployment files
ansible/inventory.ini
infra/envs/dev/terraform.tfvars
*.tfvars
!*.tfvars.example
*.pem
.terraform/
*.tfstate
*.tfstate.*
