# Java / Maven
target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Environment files
.env
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
terraform.tfvars

# Docker
.docker/

# OS
.DS_Store

# Logs
*.log
