#!/bin/bash
set -eu

mkdir -p /opt/cloud-ecommerce
cat >/opt/cloud-ecommerce/app.env <<'EOF'
IMAGE_REGISTRY=${image_registry}
DB_HOST=${database_endpoint}
DB_NAME=${database_name}
DB_USERNAME=${database_username}
DB_PASSWORD=${database_password}
SQS_QUEUE_URL=${order_queue_url}
AWS_REGION=${aws_region}
EOF
chmod 600 /opt/cloud-ecommerce/app.env
