aws_region = "eu-west-1"
project = "cloud-recurso"
environment = "dev"
owner = "goncalo"
db_username = "app_user"
db_password = "CHANGE_ME_LONG_PASSWORD"
allowed_ssh_cidr = "CHANGE_ME_YOUR_PUBLIC_IP/32"